/* Test Center
-------------------------------------------------------------------------------*/

.test-center {
  height: 100%;
}

.test-center .test-suites {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
}

.test-center .test-suites .test-suite {
  display: block;
  padding: 14px 20px;

  border-bottom: 1px solid #ddd;
  position: relative;
}

.test-center .test-suites .test-suite .status {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 5px;
}

.test-center .test-suites .test-suite .status.success {
  background: #7AA017;  
}

.test-center .test-suites .test-suite .status.error {
  background: #D91D1D;  
}


.test-center .test-suites .test-suite.active {
  background: rgba(255,255,255,1);
}

.test-center .test-suites .test-suite:hover {
  background: rgba(255,255,255,0.7);
}

.test-center .test-report {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  width: 800px;
  overflow: auto;
  background: #fff;
}

.test-center .test-report .border-right {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 2px;
  background: #C7CAC9;
}

.test-center .test-output {
  display: none;
  position: absolute;

  font-size: 18px;
  top: 0px;
  right: 20px;
  left: 1120px;
  bottom: 0px;
  background: white;
}

.test-center .test-report h2 {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 40px;
  padding: 40px 80px;
}

.test-center .test-report .test {
  margin-bottom: 50px;
}

.test-center .test-report .test .name {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
  padding: 10px 80px;
}

.test-center .test-report .test .actions {
  font-size: 18px;
}

.test-center .test-report .test .actions .action {
  padding: 0px 80px;
  /*border-bottom: 1px solid #eee;*/
  margin-bottom: 1px;
  position: relative;
  line-height: 60px;
}

.test-center .test-report .test .actions .action .error-source {
  overflow: auto;
  font-family: 'Source Code Pro';
  background: rgba(217, 29, 29, 0.02);

  border: 1px solid rgba(217, 29, 29, 0.2);
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
}

.test-center .test-report .test .actions .action .stack-trace {
  overflow: auto;
  font-family: 'Source Code Pro';
  background: rgba(217, 29, 29, 0.02);
  border: 1px solid rgba(217, 29, 29, 0.2);
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
}

.test-center .test-report .test .actions .action .duration {
  font-size: 13px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: right;
  padding-right: 30px;
  width: 100px;
}

.test-center .test-report .test .actions .action.success .duration {
  color: #7AA017;  
}

.test-center .test-report .test .actions .action.error .duration {
  color: #D91D1D;
}

.test-center .test-report .test .actions .action .status {
  display: none;
  position: absolute;
  left: 40px;
  top: 0px;
  font-size: 25px;
  bottom: 0px;
  padding: 0 10px;
}

.test-center .test-report .test .actions .action:hover {
  background: rgba(0,0,0,0.01 );
}

.test-center .test-report .test .actions .action.success {
  border-right: 2px solid rgba(145, 187, 4, 1);
  color: #7AA017;
}

.test-center .test-report .test .actions .action.error {
  border-right: 2px solid #D91D1D;
  color: #D91D1D;
}
